@import "tailwindcss";

/* ================= GLOBAL FONT ================= */
* {
  font-family: "Roboto", sans-serif;
}

/* ================= GLOBAL DARK MODE ================= */
html, body {
  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ================= SCROLLBAR HIDE ================= */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}